<h2><%= @tag.description %></h2>
<%= link_to 'Edit', edit_tag_path(@tag), class: 'btn btn-small btn-default' %>
<%= link_to 'Delete Tag', tag_path(@tag), :method => 'delete', class: 'btn btn-small btn-danger' %>
<hr>
<h4>Posts</h4>

<ul style="list-style:none;">
  <% @tag.posts.each do |post| %>
    <li><%= link_to "#{post.title}", post_path(post) %></li>
  <% end %>
</ul>
