<h2>Recent Posts</h2>

<ul style="list-style:none;">
  <% @posts.each do |post| %>
    <li><%= link_to "#{post.title}", post_path(post) %></li>
  <% end %>
</ul>

<hr>
<%= link_to "New Post", new_post_path %>

<hr>

<ul style="list-style:none;">
  <% @posts.each do |post| %>
    <% post.tags.each do |tag| %>
      <li><%= tag.description %></li>
    <% end %>
  <% end %>
</ul>
